@import '../../global.scss';

.topbar{
    width: 100%;
    height: 70px;
    background-color: white;  
    color: $mainColor;
    position: fixed;   // so that topbar doesn't move on Scrolling.
    top: 0;
    z-index: 3;  
    transition: all 1s ease;

      .wrapper{
        padding: 10px 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;  

          .left{
            display: flex;
            align-items: center;
              .logo{
                font-size: 40px;
                font-weight: 700;
                text-decoration: none;
                color: inherit;  //it will inherit the color(i.e, $mainColor) of its parent(i.e.,.topbar)
                margin-right: 40px;
                
              }
              .itemContainer{
                display: flex;
                align-items: center;
                margin-left: 30px;

                @include mobile{
                  display: none;
                }

                  .icon{
                      font-size: 18px;
                      margin-right: 5px;
                      
                  }

                  a:visited {
                   color: inherit;
                  }
                  a{
                    font-size: 15px;
                    font-weight: 500;
                    cursor: pointer;
                  }
              }
          }
        
          .right{

              .hamburger{
                 width: 32px;
                 height: 25px;
                 display: flex;
                 flex-direction: column;
                 justify-content: space-between;
                 cursor: pointer;

                  span{
                    width: 100%;
                    height: 3px;
                    background-color: $mainColor;
                    transform-origin: left;    // from where transformation of lines will start
                    transition: all 2s ease;  //animating lines
                }
              }
          }
    }

    &.active{   // syntax used in saas
        background-color: $mainColor;
        color: white;

       

        .hamburger{
            span{
                 &:first-child{       // it means "line1"
                    background-color: white;
                    transform: rotate(45deg);

                 }
  
                &:nth-child(2){       // it means "line2" i.e., second child of span
                    opacity: 0;
                }
                 &:last-child{       // it means "line3"
                    background-color: white;
                    transform: rotate(-45deg);
                 }
            }
        }
    }
}