.app{
    height: 100vh;

    .sections{
        width: 100%;
        height: calc(100vh - 70px);
        background-color: lightsalmon;
        position: relative;   // so that it does hide behind the topbar
        top: 70px;
        scroll-behavior: smooth;  // on scrolling, our page will scroll smoothly
        scroll-snap-type: y mandatory;
        scrollbar-width: none;  // for firefox (to hide the scrollbar)
        &::-webkit-scrollbar{   // for chrome (to hide the scrollbar)
            display: none;
        }

        > *{  //for each element(like intro,portfolio etc.) inside .sections 
            width: 100vw;
            height: calc(100vh - 70px);
            scroll-snap-align: start;

        }
    }
}